[Unit]
Description=mcp-server-template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/mcp-server-template
ExecStart=/opt/mcp-server-template/mcp-server-template.mjs
EnvironmentFile=/opt/mcp-server-template/.env

[Install]
WantedBy=multi-user.target
