[Unit]
Description=tasklit-mcp
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/tasklit-mcp
ExecStart=/opt/tasklit-mcp/tasklit-mcp.mjs
EnvironmentFile=/opt/tasklit-mcp/.env

[Install]
WantedBy=multi-user.target
